.TodoClear {
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  margin: 10px;
}

.TodoClear button {
  background-color: transparent;
  border: none;
  font: inherit;
  color: rosybrown;
  cursor: pointer;
}
.TodoClear button:active {
  color: rebeccapurple;
}